@font-face {
    font-family: 'violet_sansregular';
    src: url("css/fonts/violetsans-regular-webfont.woff2") format('woff2'),
         url("css/fonts/violetsans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	box-sizing: border-box;
}

body { 
	font-family: 'violet_sansregular';
	font-weight: normal;
	font-style: normal;
	color: white;
	background-color: black;

}

li {
	list-style:none;
}

#p1 {
	float: left;
	width: 55%;
	font-size: 210%;
	padding: 5px;
	margin:  20px 20px 20px 50px;
}

#p2 {
	float: right;
	width: 35%;
	font-size: 210%;
	padding: 5px;
	margin: 20px 50px 20px 20px;
}

#p3 {
	float: left;
	font-size: 150%;
	clear: both;
	display: block;
	padding: 5px;
	margin:  20px 20px 20px 50px;

}

#header1 {
	font-size: 120%;
	text-decoration: underline;
}

#header2 {
	font-size: 120%;
	text-decoration: underline;
}